<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<dom-module id="nav-menu">
    <template>
        <custom-style>
            <style is="custom-style" >
                :host {
                    display: block;
                }
                app-toolbar {
                    /* Toolbar is the main header, so give it some color */
                    background-color: var(--paper-blue-800);
                    font-family: 'Roboto', Helvetica, sans-serif;
                    color: white;
                    --app-toolbar-font-size: 24px;
                }
            </style>
        </custom-style>
        <app-toolbar hidden$=true>
            <paper-icon-button icon="menu"></paper-icon-button>
            <div main-title>TechU</div>
            <paper-icon-button icon="search"></paper-icon-button>
        </app-toolbar>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class NavMenu extends Polymer.Element {
            static get is() { return 'nav-menu'; }
            static get properties() {
                return {
                    dni: {
                        type: String,
                        value: ''
                    },
                    password : {
                        type : String,
                        value : ''
                    }
                };
            }
        }
        window.customElements.define(NavMenu.is, NavMenu);
    </script>
</dom-module>
