<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/src/styles/login-form-style.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="login-form">
    <template>
        <custom-style>
            <style is="custom-style" include="login-form-styles iron-flex iron-positioning iron-flex-alignment">
                :host {
                    display: block;
                }
                paper-button.blue {
                    background-color: var(--paper-blue-800);
                    color: #ffffff;
                }


            </style>
        </custom-style>
        <iron-ajax
                id="ajaxLogin"
                url="http://localhost:3000/auth/login"
                method="post"
                handle-as="json"
                body="[[body]]"
                content-type="application/json"
                on-response="processLoginData"
                last-response="{{data}}">
        </iron-ajax>
        <div class="main-frame">
                <h2>Sign in to TechU</h2>
                <iron-form>
                    <form method="POST" class="inline-form">
                        <paper-input float-label label="DNI"></paper-input>
                        <paper-password-input float-label label="Password"> </paper-password-input>
                        <paper-button on-click="send" class="blue layout horizontal center" >Sign in</paper-button>
                    </form>
                </iron-form>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class LoginFormElement extends Polymer.Element {
            static get is() { return 'login-form'; }
            static get properties() {
                return {
                    dni: {
                        type: String,
                        value: ''
                    },
                    password : {
                        type : String,
                        value : ''
                    },
                    logged: {
                        type: Boolean,
                        value: false,
                        notify: true
                    }
                };
            }
            send() {
                this.body = {"documentNumber": "3942308", "password":"123456"};
                this.$.ajaxLogin.generateRequest();
            }

            json(s) {
                return JSON.stringify(s, null, 2);
            }

            processLoginData(response) {
                this.logged = true;
                this.data = response;
            }
        }
        window.customElements.define(LoginFormElement.is, LoginFormElement);
    </script>
</dom-module>
